NODE_ENV=development

GATEWAY_PORT=8080
AUTH_PORT=3001
CRM_CORE_PORT=3002
MESSAGING_PORT=3003
BROADCASTS_PORT=3004
POSTSALE_PORT=3005
ANALYTICS_PORT=3006
INTEGRATION_PORT=3007

JWT_SECRET=dev-change-me
JWT_EXPIRES_IN=7d

# WhatsApp Cloud API / Business Management
META_GRAPH_VERSION=v25.0
META_ACCESS_TOKEN=EAAfuNRERAxMBRVPy16VZCjCWIGDfMuMh2OWnDhOQgTNLhikxYciEdF38WFWtpGcqWDmJgphNas1ae4p61EcosZBoj1JZCZA88YSyAndh5BgiaMVL5rqnujpumyV6cSUVCRcskBFRWduGfZBURzlglRRFvwHlbZAZAbCYY3incD6J1FdHKQpZAi2v8kZBBZCXrFleNcgjhKpjTSINZCaIKZAw5YVSZAfaNgdoRbgH3KqsWZA5KmxUfLAborlzb0FnGuTQtyicjHjbRfQqC7o3YQlS52jVZCUZCueg
META_APP_ID=2232236523979539
META_WHATSAPP_BUSINESS_ACCOUNT_ID=1894314254553697
META_PHONE_NUMBER_ID=1127647270424016
VITE_META_WABA_ID=1894314254553697
VITE_META_PHONE_NUMBER_ID=1127647270424016
EXTERNAL_SYSTEM_MOCK=true